
/node_modules


pycache/
/venv
/env
.venv

.log
npm-debug.log
yarn-debug.log*
yarn-error.log*


.env
.env*.local


.DS_Store

.vscode/
.idea/

# Firebase Admin SDK Key File (DO NOT COMMIT)
serviceAccountKey.json
